*.csv
*.txt
*.log
*.out
*.pdf
*.p*
*.r*
*.mp4
*.js*
*.jp*
*.x*
*.n*
*.i*
*.f*
*.toml
*.Text*
*.token
*_cache*
*surface_definitions*
*.z*
.DS*
*.w*
*.o*
*.a*
*.d*
.vscode/
DGAME data/
Roberts ET data/

